*{
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: rgb(109, 109, 109);
    padding: 0;
    margin:0;
}
  
body, html{
    font-weight: normal;
    background: linear-gradient(rgb(26, 228, 167), rgb(16, 58, 138) )no-repeat center center fixed;
    background-size: cover;
}
.game{
    position: relative;
    display: grid;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 10px;
    z-index: 0;
}
.center-control{
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 25;
}
#container-player{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#player1-container{
    grid-column: 1;
    background-color: rgb(238, 242, 245);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding: 1rem;
}
#player2-container{
    grid-column: 2;
    text-align: center;
    padding: 1rem;
}
#newGame{
    font-size: 1.2rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
#rollDice{
    font-size: 1.2rem;
    margin-top: 24rem;
    text-transform: uppercase;
}
#hold{
    font-size: 1.2rem;
    margin-top: 28rem;
    text-transform: uppercase;
}